{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    <style>
        body {
            background-color: {{ design.pageColor }};
            color: {{ design.textColor }};
        }

        a {
            color: {{ design.secondaryTextColor }};
        }
    </style>

    <div class="header">
        <a href="{{ path('main') }}"><img class="logo" alt="{{ design.title}}" src="{% if design.logo is not null %}{{ asset('front/' ~ design.logo ) }}{% else %}{{ asset( 'logo.png' ) }}{% endif %}" /></a>
    </div>

    <div class="register-parent">
        <div class="register-block">
            <div class="register-sidebar" style="background-image: url({% if design.backgroundImage is not null %}{{ asset('front/' ~ design.backgroundImage ) }}{% else %}{{ asset( 'background.jpg' ) }}{% endif %})"></div>
            <div>
                <form method="post" style=" width: 400px; margin: auto;">
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, go to the <a href="{{ path('main') }}">Main page</a> or <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Signup</h1>
                    {{form_start(form)}}
                    {{form_errors(form)}}
                    {{form_widget(form)}}
                    {{form_end(form)}}
                </form>
            </div>
        </div>
    </div>

{% endblock %}