{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background-color: {{ design.pageColor }};
            color: {{ design.textColor }};
        }

        a {
            color: {{ design.secondaryTextColor }};
        }
    </style>

    <div class="header">
        <img class="logo" alt="{{ design.title}}" src="{% if design.logo is not null %}{{ asset('front/' ~ design.logo ) }}{% else %}{{ asset( 'logo.png' ) }}{% endif %}" />

        <div class="cart">
            {% set cartItemCount = cart|length %}
            Items in cart - <span class="totalCartItems">{{ cartItemCount }}</span>
            {% if cartItemCount %}
                <button class="btn btn-sm btn-success cartDisplay">Open cart</button>
            {% endif %}

            <div class="cartContent" style="display: none;">
                <div class="cartProducts">
                    {% if cart is not empty %}
                        {% for product in cart %}
                            <div class="cartProduct" id="cartProduct{{ product.id }}">
                                <span>{{ product.title }}</span>
                                <p id="cartProductPrice{{ product.id }}">
                                    {% if app.user %}
                                        {{ product.memberPriceTotal }}
                                    {% else %}
                                        {{ product.regularPriceTotal }}
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if cart is not empty %}
                    <span class="text-center totalPrice">Total price: {{ cartTotal }}</span>
                    <div class="cartButtons">
                        <button class="btn btn-secondary btn-sm clearCart">Clear cart</button>
                        <a href="{{ path("checkout_main") }}">
                            <button class="btn btn-primary btn-sm checkout">Checkout</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="auth">
            {% if app.user %}
                <a href="{{ path('app_logout')}}">Logout</a>
            {% else %}
                <a href="{{ path('app_login')}}">Login</a>
                <a href="{{ path('app_register')}}">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="main">
        <div class="thumbnail">
            <img class="backgroundImage" src="{% if design.backgroundImage is not null %}{{ asset('front/' ~ design.backgroundImage ) }}{% else %}{{ asset( 'background.jpg' ) }}{% endif %}" />

            <p class="backgroundText">{{ design.title }}</p>
        </div>

        {% if products is not empty %}

            <h2 class="productsTitle">OUR COLLECTIONS</h2>

            <div class="products">
                <div class="productGrid">
                    {% for product in products %}
                        <div class="productCard" id="{{ product.id }}">
                            <p class="productTitle" id="productTitle{{ product.id }}" style="display: none;">{{ product.title }}</p>
                            <img class="productImage" id="productImage{{ product.id }}"
                                 src="{% if product.image is not null %}{{ asset('products/' ~ product.image ) }}{% else %}{{ asset( 'noimage.jpg' ) }}{% endif %}"
                                 alt="{{ product.title }}"/>
                            <p class="productDescription">{{ product.description }}</p>

                            <div class="regularPrice {% if app.user %}member{% endif %}" id="regularPrice{{ product.id }}">
                                <span>Regular price:</span>
                                <p>{{ product.regularPrice }}</p>
                            </div>

                            <div class="memberPrice {% if app.user is empty %}member{% endif %}" id="memberPrice{{ product.id }}">
                                <span>Member price:</span>
                                <p>{{ product.memberPrice }}</p>
                            </div>

                            <button class="btn btn-sm btn-success addToCart" id="{{ product.id }}">Add to cart</button>
                            <button class="btn btn-sm btn-success removeFromCart" id="{{ product.id }}">Remove from cart</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="footer">
        <div class="footerContainer">
            <div class="footerItem">
                <img class="logo" alt="{{ design.title}}" src="{% if design.logo is not null %}{{ asset('front/' ~ design.logo ) }}{% else %}{{ asset( 'logo.png' ) }}{% endif %}" />
            </div>

            <div class="footerItem">
                <p class="footerQuestions">QUESTIONS? COMMENTS?</p>
                <ul>
                    <li>{{ design.phoneNumber }}</li>
                    <li>24 hours a day, 7 days a week or <a href="sms:{{ design.phoneNumber }}">send us a message</a></li>
                </ul>
            </div>

            <div class="footerItem">
                <p class="footerContact">CONTACT ADDRESS</p>
                <ul>
                    <li>{{ design.companyName }}</li>
                    <li>{{ design.address }}</li>
                    <li>{{ design.country }}</li>
                    <li>{{ design.postalCode }}</li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            {{ design.copyright }}
        </div>
        {% if app.user %}
            <i class="userId" id="{{ app.user.id }}" style="display: none;"></i>
        {% endif %}
    </div>
{% endblock %}