{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background-color: {{ design.pageColor }};
            color: {{ design.textColor }};
        }

        a {
            color: {{ design.secondaryTextColor }};
        }
    </style>

    <div class="header">
        <img class="logo" alt="{{ design.title}}" src={{ design.logo }} />

        <div class="auth">
            {% if app.user %}
                <a href="{{ path('app_logout')}}">Logout</a>
            {% else %}
                <a href="{{ path('app_login')}}">Login</a>
                <a href="{{ path('app_register')}}">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="main">
        <div class="thumbnail" style="">
            <img class="backgroundImage" src={{ design.backgroundImage }} />

            <p class="backgroundText">{{ design.title }}</p>
        </div>

        {% if products is not empty %}

            <h2 class="productsTitle">OUR COLLECTIONS</h2>

            <div class="products">
                <div class="productGrid">
                    {% for product in products %}
                        <div class="productCard">
                            <img class="productImage" src="{{ product.image }}" alt="{{ product.title }}"/>
                            <p class="productDescription">{{ product.description }}</p>

                            <div class="regularPrice">
                                <span>Regular price:</span>
                                <p>{{ product.regularPrice }}</p>
                            </div>

                            <div class="memberPrice">
                                <span>Member price:</span>
                                <p>{{ product.memberPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="footer">
        <div class="footerContainer">
            <div class="footerItem">
                <img class="logo" alt="{{ design.title}}" src={{ design.logo }} />
            </div>

            <div class="footerItem">
                Questions? Comments?
                <ul>
                    <li>{{ design.phoneNumber }}</li>
                    <li>24 hours a day, 7 days a week or <a href="sms:{{ design.phoneNumber }}">send us a message</a></li>
                </ul>
            </div>

            <div class="footerItem">
                Contact Address
                <ul>
                    <li>{{ design.companyName }}</li>
                    <li>{{ design.address }}</li>
                    <li>{{ design.country }}</li>
                    <li>{{ design.postalCode }}</li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            {{ design.copyright }}
        </div>
    </div>
{% endblock %}