{% extends 'base.html.twig' %}


{#Fix this#}
{% block styles %}
    <style>
        a {
            color: {{ design.secondaryTextColor }};
        }
    </style>
{% endblock %}

{% block body %}
    <div style="background-color: {{ design.pageColor }}; color: {{ design.textColor }}">
        This is nice text of mane page look at me!!

        <div>
            Footer:

            Blabla

            Questions? Comments?
            <ul>
                <li>{{ design.phoneNumber }}</li>
                <li>24 hours a day, 7 days a week or <a href="sms:{{ design.phoneNumber }}">send us a message</a></li>
            </ul>

            Contact Address
            <ul>
                <li>{{ design.companyName }}</li>
                <li>{{ design.address }}</li>
                <li>{{ design.country }}</li>
                <li>{{ design.postalCode }}</li>
            </ul>

            {{ design.copyright }}
        </div>
    </div>
{% endblock %}
